<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="300dp"
    android:layout_height="fill_parent"
    android:background="#ff479600"
    android:id="@+id/FlyOutMenu"
    android:padding="4dp">
    <TextView
        android:text="MENU"
        android:textAppearance="?android:attr/textAppearanceMedium"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/textView1"
        android:textColor="#ffc1c1c1"
        android:padding="4dp" />
    <View
        android:layout_width="fill_parent"
        android:layout_height="2dp"
        android:id="@+id/view1"
        android:background="#ffc1c1c1"
        android:layout_marginLeft="4dp"
        android:layout_marginRight="16dp"
        android:layout_marginBottom="8dp" />
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1"
        android:layout_margin="8dp">
        <ImageView
            android:src="@drawable/spinner_menu_icon"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/imageView1" />
        <TextView
            android:text="Spinner"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/textView2"
            android:layout_gravity="center"
            android:layout_marginLeft="8dp"
            android:textColor="#fff8f8f8"
            android:textStyle="normal"
            android:textSize="17dp" />
    </LinearLayout>
    <View
        android:layout_width="fill_parent"
        android:layout_height="1dp"
        android:id="@+id/view2"
        android:background="#abe4e4e4"
        android:layout_gravity="center"
        android:layout_marginLeft="8dp"
        android:layout_marginRight="14dp" />
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout2"
        android:layout_margin="8dp">
        <ImageView
            android:src="@drawable/challenges_menu_icon"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/imageView2" />
        <TextView
            android:text="Challenges"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/textView3"
            android:layout_gravity="center"
            android:layout_marginLeft="8dp"
            android:textColor="#fff8f8f8"
            android:textStyle="normal"
            android:textSize="17dp" />
    </LinearLayout>
    <View
        android:layout_width="fill_parent"
        android:layout_height="1dp"
        android:id="@+id/view3"
        android:background="#abe4e4e4"
        android:layout_gravity="center"
        android:layout_marginLeft="8dp"
        android:layout_marginRight="14dp" />
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout3"
        android:layout_margin="8dp">
        <ImageView
            android:src="@drawable/rewards_menu_icon"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/imageView1" />
        <TextView
            android:text="My Rewards"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/textView4"
            android:layout_gravity="center"
            android:layout_marginLeft="8dp"
            android:textColor="#fff8f8f8"
            android:textStyle="normal"
            android:textSize="17dp" />
    </LinearLayout>
    <View
        android:layout_width="fill_parent"
        android:layout_height="1dp"
        android:id="@+id/view3"
        android:background="#abe4e4e4"
        android:layout_gravity="center"
        android:layout_marginLeft="8dp"
        android:layout_marginRight="14dp" />
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout4"
        android:layout_margin="8dp">
        <ImageView
            android:src="@drawable/settings_menu_icon"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/imageView1" />
        <TextView
            android:text="Log out"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/textView5"
            android:layout_gravity="center"
            android:layout_marginLeft="8dp"
            android:textColor="#fff8f8f8"
            android:textStyle="normal"
            android:textSize="17dp" />
    </LinearLayout>
    <View
        android:layout_width="fill_parent"
        android:layout_height="1dp"
        android:id="@+id/view3"
        android:background="#abe4e4e4"
        android:layout_gravity="center"
        android:layout_marginLeft="8dp"
        android:layout_marginRight="14dp" />
</LinearLayout>