<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:clipChildren="true"
    android:clipToPadding="true"
    android:background="@android:color/white"
    android:minWidth="25px"
    android:minHeight="25px"
    android:id="@+id/FlyOutContent">
    <ImageButton
        android:src="@drawable/spinbutton"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/SpinButton"
        android:layout_marginTop="400dp"
        android:layout_marginLeft="100dp"
        android:layout_alignParentRight="true"
        android:layout_alignParentLeft="true"
        android:layout_alignParentBottom="true"
        android:layout_alignParentTop="true"
        android:minHeight="100dp"
        android:maxWidth="110dp"
        android:scaleType="fitXY"
        android:cropToPadding="false"
        android:adjustViewBounds="false"
        android:fadingEdge="none"
        android:layout_marginRight="100dp" />
    <ImageView
        android:src="@drawable/winoftheweek"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/wotd"
        android:scaleType="fitCenter"
        android:layout_marginLeft="20dp"
        android:layout_marginRight="20dp"
        android:layout_marginTop="20dp"
        android:maxHeight="50dp" />
    <ImageView
        android:src="@drawable/wheeloutline"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/wheelOutline"
        android:layout_centerInParent="true" />
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/wheelLayout"
        android:layout_alignWithParentIfMissing="false"
        android:layout_centerVertical="true"
        android:layout_marginRight="-90000dp" />
    <FrameLayout
        android:id="@+id/frameLayout1"
        android:background="#ff54d000"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:paddingTop="0dp">
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:id="@+id/linearLayout1">
            <View
                android:layout_width="40dp"
                android:layout_height="40dp"
                android:id="@+id/MenuButton"
                android:layout_margin="4dp"
                android:background="@drawable/action_menu" />
            <TextView
                android:text="Spinner"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="fill_parent"
                android:id="@+id/textView2"
                android:gravity="center"
                android:textColor="#fff6f6f6"
                android:layout_marginLeft="8dp" />
        </LinearLayout>
    </FrameLayout>
</RelativeLayout>